<h3>Income statement</h3>

<div id="incomeStatementRoot">
    <form class="container mb-3">
      <div class="row justify-content-center mb-1">
        <label for="startingYearSelect" class="mr-1 mb-0">Start at: </label>
        <select id="startingYearSelect" v-model="startingYearSelect">
            <option v-for="year in [2020, 2019]">[[ year ]]</option>
        </select>
        <select id="startingQuarterSelect" v-model="startingQuarterSelect" v-show="analysisTypeChosen !== 'Yearly'">
            <option v-for="quarter in [4, 3, 2, 1]" :value="quarter">Q[[ quarter ]]</option>
        </select>
      </div>
      <div class="row justify-content-center">
        <span class="ml-2">
            <div class="form-check-inline" v-for="analysisType in analysisTypes">
                <input class="form-check-input" type="radio" :id="'radio' + analysisType" :value="analysisType" v-model="analysisTypeChosen">
                <label class="form-check-label" :for="'radio' + analysisType">Show [[ analysisType ]]</label>
            </div>
        </span>
      </div>
    </form>
    <div class="container">
      <div id="incomeStatementTable"></div> <!-- Tabulator to inject here -->
    </div>
</div>


<script>
    const incomeStatement = new Vue({
      el: "#incomeStatementRoot",
      delimiters: ['[[', ']]'],  // the default is curly braces, but this would conflict with Jinja syntax
      data: {
        apiUrlBase: "/api/income_statements",
        incomeStatementTable: null,
        incomeStatements: [],
        startingQuarterSelect: 3,
        startingQuarterSelectPrevious: 3, // storing the previous non-null value for when startingQuarterSelect goes null.
        startingYearSelect: 2020,
        analysisTypeChosen: 'QOQ',
        analysisTypes: ['QOQ', 'YOY', 'Yearly']
      },
      computed: {
        apiUrl: function () {
          return `${this.apiUrlBase}?starting_year=${this.startingYearSelect}&starting_quarter=${this.startingQuarterSelect}&analysisType=${this.analysisTypeChosen}`
        }
      },
      watch: {
        // It might seem silly to have watchers for these, but I think it's necessary. For the radio buttons, I don't know
        // of another way, and for the <select>s, it works better than using the "onchange" attribute.
        analysisTypeChosen: function(newType, oldType) {
          // Either restore the starting quarter to what it was before, or reset it (if switching to yearly)
          this.startingQuarterSelect = newType === 'Yearly'
            ? null
            : this.startingQuarterSelectPrevious

          this.updateTableData()
        },
        startingQuarterSelect: function(newValue, oldValue) {
          this.updateTableData()

          if (oldValue)
            this.startingQuarterSelectPrevious = oldValue
        },
        startingYearSelect: function(newValue, oldValue) { this.updateTableData() }
      },
      methods: {
        loadData: async function () {
          // In theory, I could add error handling here, checking if the data is [] or false-y
          // However, with such a small app and very limited opportunities for failure, I'm not worrying too much
          // about it right now. Can add later if desired or if errors occur.
          this.incomeStatements = (await axios.get(this.apiUrl)).data
        },
        setupTabulatorTable: function () {
          this.incomeStatementTable = new Tabulator("#incomeStatementTable", {
            data: this.incomeStatements.line_items,
            dataTree: true, // needed for nested table data - see http://tabulator.info/docs/4.7/tree
            columns: [
              { title: "", field: "field", headerSort: false },
            ].concat(this.incomeStatements.dates.map((date, index) => ({
              title: date, field: `value${index}`, headerSort: false, minWidth: 80
            })))
          })
        },
        updateTableData: async function () {
          await this.loadData()

          this.incomeStatementTable.replaceData(this.incomeStatements.line_items)
          
          const columnsWithTitles = this.incomeStatementTable.getColumns().slice(1)
          columnsWithTitles.forEach((column, i) => column.updateDefinition({title: this.incomeStatements.dates[i]}))
        }
      },
      mounted: async function () {
        await this.loadData()
        this.setupTabulatorTable()
      }
    })
</script>