<h4>Income statements</h4>

<section class="mb-3">
    <div class="form-check-inline">
        <input class="form-check-input" type="radio" name="exampleRadios" id="radioQOQ" value="QOQ" checked>
        <label class="form-check-label" for="radioQOQ">Show QOQ</label>
    </div>
    <div class="form-check-inline">
        <input class="form-check-input" type="radio" name="exampleRadios" id="radioYOY" value="YOY">
        <label class="form-check-label" for="radioYOY">Show YOY</label>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col"></div>
        {% for income_statement in income_statements %}
            <div class="col">
                <strong>{{ income_statement.quarter_ui }} {{ income_statement.year }}</strong>
            </div>
        {% endfor %}
    </div>
    {% for category in income_statement_categories %}
        <div class="row">
            <div class="col">{{ category.title }}</div>
            {% for income_statement in income_statements %}
                <div class="col">{{ income_statement | attr(category.attribute) }}</div>
            {% endfor %}
        </div>
    {% endfor %}
</div>