<div class="d-flex justify-content-center">
    <div id="transactionsTable"></div>
</div>

<script>
    var transactionsTable = new Tabulator('#transactionsTable', {
        ajaxURL: '/api/transactions/list',
        columns: [
            { title: "Amount", field: "Amount" },
            { title: "Category", field: "Category" },
            { title: "Date", field: "Date" } // may need special formatting here
            // { title: "Amount", field: "ui.amount" }, // note - this syntax works! I didn't think it would. yay.
        ],
        layout: "fitData"
    })
</script>