<h3 class="mt-4 mb-3">Manage transactions</h3>
<div class="container">
<!-- May switch to pills at some point - https://getbootstrap.com/docs/4.5/components/navs/#pills -->
  <div class="nav nav-tabs justify-content-center mb-3" id="nav-tab" role="tablist">
    <a class="nav-link active" id="transactionsData-tab" data-toggle="tab" href="#transactionsData" role="tab" aria-controls="transactionsData" aria-selected="false">
      Transaction table
    </a>
    <a class="nav-link" id="importTransactionsExcel-tab" data-toggle="tab" href="#importTransactionsExcel" role="tab" aria-controls="importTransactionsExcel" aria-selected="true">
        Import Excel file
    </a>
  </div>
</div>
<div class="tab-content">
  <div class="tab-pane fade show active" id="transactionsData" role="tabpanel" aria-labelledby="transactionsData-tab">
    {% include 'partial/transactions/transactionsTable.html' %}
  </div>
  <div class="tab-pane fade" id="importTransactionsExcel" role="tabpanel" aria-labelledby="importTransactionsExcel-tab">
      {% include 'partial/transactions/importExcelFile.html' %}
  </div>
</div>
