<div>
    <p>
        Below, find all your transactions. They are not yet editable, but that might be possible in a future release.
        Filtering may soon be allowed as well.
    </p>
</div>
<div class="d-flex justify-content-center">
    <div id="transactionsTable"></div>
</div>

<script>
    var transactionsTable = new Tabulator('#transactionsTable', {
        ajaxURL: '/api/transactions/list',
        columns: [
            { title: "Amount", field: "Amount" },
            { title: "Category", field: "Category" },
            { title: "Date", field: "DateUI" }
        ],
        layout: "fitData"
    })
</script>